.container
  br
  h1 New Task
  = simple_form_for @task do |f|
    = f.input :title
    = f.input :description, as: :text, input_html: {class: 'tinymce', rows: 10}
    /= f.input :assignee_id
    /= f.input :due_date
    /= f.input :state
    = f.button :submit
  br
  .float-right = link_to 'Back', tasks_path

//ToDo: DRY
//ToDo: Coffeescript
javascript:
  loadTinyMCE = function (selector) {
    try {
      tinymce.remove();
    } catch (err) {
    }
    tinymce.init({
      selector: selector,
      //menubar: false,
      statusbar: false,
      toolbar_items_size: 'small',
      toolbar: 'undo redo | bold underline italic | bullist numlist | outdent indent',
      theme: 'modern'
      //content_style: "body {background: white !important; padding: 15px}",
      //content_css: "#{asset_path('application.css')}"
    });
  };

  $(function () {
    loadTinyMCE(".tinymce");
  });

